.statusOnline {
    display: block;
    /* background-color: green; */
    fill: green;
    margin-right: 5px;
    margin-left: 10px;
}
.statusOffline {
    /* display: block; */
    fill: red;
    margin-right: 5px;
    margin-left: 10px;
}
.name {
    /* display: block; */
    font-size: 17px;
    font-weight: bold;
    margin-right: 5px;
}
.avatar {
    /* display: block; */
    border-radius: 2px;
    margin-right: 5px;
}
